<section class="input-section">
  <h5>EFS Dashboard</h5>

  <section class="overall-table-container">
    <h4 id="company-name">TEE GLOBAL LIMITED</h4>
    <h5 id="rcNumber">RC Number: 123456123456</h5>
    <p>This company filed 1 time(s)</p>
    <hr />

    <table>
      <tr>
        <th>Financial Year</th>
        <th>Status</th>
        <th>Date Submitted</th>
        <th>Action</th>
      </tr>

      <tr>
        <td>2018</td>
        <td>Approved</td>
        <td>July 20,2023</td>
        <td>
          <button>Review</button>
          <button (click)="transferData()">Certified Extract</button>
        </td>
      </tr>
    </table>
  </section>
</section>
